@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
    --primary-color: #91AD34;
    --secondary-color: #187B42;
    --bg-light: #f8f8f8;
    --text-dark: #222;
    --text-light: #7c7878;
    --gradient: linear-gradient(349deg, #715cee, #b1a5f8);
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: linear-gradient(180deg, #a196ef1f, #9e92f50f);
    color: #222
}

body::-webkit-scrollbar{
    widows: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #91AD34;
    border-radius: 10px;
}

.commonBtn {
    padding: 9px 15px;
    font-size: 16px;
    background-color: transparent;
    /*background: linear-gradient(349deg, #91AD34, #187B42);*/
    border-radius: 6px;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    /*filter: drop-shadow(2px 3px 5px #187b4177);*/
    /*border: none;*/
    border-color: #91AD34;
    border-style: solid;
    /*transition: 0.3s ease-in-out;*/
    /*text-decoration: none;*/
}

.commonBtn:hover {
    background: linear-gradient(349deg, #91ad34a5, #187b4177);
    color: #4f4f4f;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

#mainHeader.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    width: 100%;
    z-index: 9999;
    padding: 10px 100px;
}

#mainHeader {
    transition: all 0.3s ease;
}

.logo {
    font-size: 20px; 
    font-weight: bold;
}

.logo i {
    color: #91AD34;
    display: none;
}

.logoImg {
    height: 80px;
    position: relative;
}

.title {
    font-weight: 600;
    display: none;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #222;
    padding: 8px 12px;
}

nav li a:hover {
    color: #187B42;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #222;
    margin: 4px 0;
}

.stats .commonBtn {
    height: 45px;
    cursor: pointer;
}

.heading {
    font-size: 42px;
    font-weight: 700;
    color: #222;
    letter-spacing: -3px;
    margin-bottom: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 600px;
}

.heroHeading {
    font-size: 4rem;
}

.heading span {
    color: #187B42;
}

#courseCount,
#studentCount {
    font-size: 2rem;
    font-weight: bold;
}

.counterText {
    font-size: 14px;
    color: #7c7878;
}

.hero-text p {
    margin: 20px 0;
    color: #7c7878;
}

.hero-image {
    max-width: 400px;
    position: relative;
}

.userImage {
    z-index: 99;
    position: relative;
    width: 100%;
}

.heroIcon1,
.heroIcon2 {
    position: absolute;
    z-index: 99;
    border-radius: 0px!important;
    filter: drop-shadow(5px 4px 10px #33333364);
}

.heroIcon1 {
    left: 0px;
    bottom: 50px;
    animation: slideDown 2s ease-in-out infinite alternate;
    height: 45px;
    border-radius: 9px!important;
}

.heroIcon2 {
    right: 0px;
    top: 50px;
    animation: slideRight 2s ease-in-out infinite alternate;
    height: 45px;
    border-radius: 9px!important;
}

@keyframes slideDown {
    from {left: 0px;}
    to {left: 20px;}
}

@keyframes slideRight {
    from {right: -20px;}
    to {right: 0px;}
}

.circle-container {
    position: absolute;
    top: 150px;
    left: 20px;
    width: 450px;
    height: 450px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: radial-gradient(circle, #91AD34 30%, #187B42 100%);
    opacity: 0,6;
    animation: breathe 3s ease-in-out infinite;
}

.circle:nth-child(2) {
    width: 380px;
    height: 380px;
    top: -15px;
    left: -15px;
    background: radial-gradient(circle, #91AD34 30%, #187B42 100%);
    animation-delay: 0.4s;
}

.circle:nth-child(3) {
    width: 410px;
    height: 410px;
    top: -30px;
    left: -30px;
    background: radial-gradient(circle, #91AD34 30%, #187B42 100%);
    animation-delay: 0.3s;
}

@keyframes breathe {
    0%, 100% {
        transform: scale(1);
        opacity: 0.3;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.1;
    }
}

.stats {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}